.container-body {
  margin-top: 128px;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px;
}

.image-body {
  display: flex;
  width: 42px;
  height: 36px;
  flex: 0;
}

.textInputContainer {
  width: 584px;
  background: #fff;
  display: flex;
  border-radius: 2px;
  border: none;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  z-index: 3;
  height: 44px;
  margin: 0 auto;
  margin-top: 32px;
  align-items: center;
}

.textInputBeforeContainer {
  flex: 1;
  display: flex;
  padding: 5px 8px 0 16px;
}

.textInput {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  color: rgba(0,0,0,.87);
  word-wrap: break-word;
  outline: none;
  display: flex;
  flex: 100%;
  -webkit-tap-highlight-color: transparent;
  margin-top: -37px;
}

.imageMicrophone {
  display: flex;
  width: 24px;
}

.button-container-body {
  margin-top: 16px;
  display: flex;
  margin-right: 8px;
  border-width: 0px;
}

.button-body {
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  color: #757575;
  cursor: pointer;
  font-family: arial,sans-serif;
  font-size: 13px;
  font-weight: bold;
  margin: 11px 4px;
  min-width: 54px;
  padding: 0 16px;
  text-align: center;
  height: 36px;
  line-height: 27px;
}